@import '../../assets//scss/variable.scss';

span.tag {
  font-size: .8rem;
  background: red;
  padding: .25rem 0 .25rem .25rem;
  margin: .1rem .2rem;
  color: white;
  background-color: $primary;
  display: inline-block;

  button {
    background: transparent;
    border: 0;
    border-left: 1px solid white;
    color: white;
    margin-left: .25rem;
    padding: 0 .25rem;
    outline: 0;
  }
}