@import '../../assets//scss/variable.scss';

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.loader {
  color: $primary;

  svg {
    font-size: inherit;
    -webkit-animation: rotating 2.5s linear infinite;
    animation: rotating 2.5s linear infinite;
  }
}
